body {
	background: #eee;
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
}

/* Header */
.header {
	background: #161925;
	color: #91aec1;
	padding: 14px 1em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

a.logo:link, a.logo:visited {
	text-decoration: inherit;
	color: inherit;
}

.logo, .header-title {
	line-height: 34px;
	font-size: 24px;
}

.logo-img {
	vertical-align: middle;
	margin-right: 14px;
}

.logo-res {
	font-weight: 700;
	color: #91aec1;
}

.logo-gate {
	color: #5a5d93;
}

h1, h2, h3 {
	font-family: 'Encode Sans', sans-serif
}

h1 {
	margin: 0;
	padding: 0;
	line-height: 28px;
	font-size: 24px;
	font-weight: 700;
}

h3 {
	font-weight: 700;
	font-size: 1.2em;
	color: #5a5d93;
}

.top {
	margin: 1em 1em;
}

.shadow {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#books {
	max-width: 800px;
	margin: 0 1em;
}

.new-container {
	margin: 1em 0;
	line-height: 2em;
}

	.new-container label {
		margin-right: 10px;
	}

label {
	display: inline-block;
	font-weight: bold;
}

label span {
	display: inline-block;
	width: 64px;
}

#error-msg {
	color: #800
}

button {
	display: inline-block;
	border: none;
	color: #006;
	background: none;
	border-radius: 2px;
	margin-left: 6px;
	padding: 4px 8px;
}

	button:focus {
		outline: 0;
	}

	button:hover {
		background: rgba(0,0,0,0.12);
	}

.list-item {
	padding: 8px 0;
}

.card {
	background: #fff;
	padding: 1em 1em;
	box-sizing: border-box;
}

.action {
	float: right
}

.editing > .card {
	background: #eaeaff;
}

.edit {
	display: none;
}

.editing .edit {
	display: inherit;
}

.editing .view {
	display: none;
}

.card h3 {
	margin: 0 0 8px 0;
}

.card .author {
	font-style: italic;
}

.edit-input {
	display: inline-block;
}

	.edit-input label {
		display: block;
	}

		.edit-input label + label {
			margin-top: 6px;
		}
